
body {
  margin: 0;
  text-align: center;
  font-family: 'Lora', serif;
  background-color: #3fc5f0;
}

h1 {
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
}
h2 {
  font-family: 'Acme', sans-serif;
}

.Top-container {


}

.Middle-container {

  background-color: #42dee1;

}

.contact-me{
  background-color: #6decb9;
  width: 1540px;
  height: 390px;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  top: 75px;
  right: 450px;
}
